name: Build And Deploy milkonomy

on:
  push:
    branches:
      - main
    paths:
      - "public/**"
      - "src/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@master
        with:
          node-version: 22.12.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9.15.0

      - name: Build
        run: pnpm install && pnpm build

      # fix https://github.com/vitejs/vite/issues/9119
      - name: Create .nojekyll
        run: touch dist/.nojekyll

      # 删除本地dist/public/data目录，防止覆盖线上最新数据
      - name: Remove dist/public/data
        run: rm -rf dist/public/data

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.MILKONOMY }}
          BRANCH: gh-pages
          FOLDER: dist
          CLEAN: false # 不清除dist/public/data的内容
