name: Update Game Data
env:
  GITHUB_REPOSITORY: ${{ github.repository }}
on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout gh-pages branch
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: gh-pages # 强制检出 gh-pages 分支
          fetch-depth: 0 # 获取完整提交历史

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests ghp-import

      - name: Fetch and deploy data
        run: python scripts/fetch_game_data.py
        env:
          GITHUB_TOKEN: ${{ secrets.MILKONOMY }}
